@model Wizard_Aydin_Olga.Models.WizardModel
@using (Html.BeginForm("GameView", "Wizard", FormMethod.Post))
{
    <div class="lightboxTricksOuter">
        <div class="lightboxTricksInner">
            <p>Wie viele Stiche <br /> machst du?</p>
            <div class="trickamountContainer">
                @for (int i = 0; i <= Model.Runde; i++)
                {
                    <div class="trick">
                        <input id=@i type="radio" name="tricks" value=@i />
                        <label for=@i>@i</label>
                    </div>
                }
            </div>
            <div class="confirmationTricks">Bestätigen</div>
        </div>
    </div>
    <div class="lightboxEvaluation">
        <div class="evaluationText">
            <p></p>
        </div>
    </div>
    <div class="playingGround" data-round="@Model.Runde">
        <div class="opponentsCardDeck noTurn">
            <div class="startEvaluation">
                <input id="startEvaluation" class="children" value="Auswertung starten" />
            </div>
            <div class="startEvaluationFinal">
                <input id="startEvaluationFinal" type="submit" class="noChildren" value="Auswertung starten" />
                @Html.TextBoxFor(s => s.SpielerListe[0].GemachteStiche, new { id = "ownTricks", style = "visibility: hidden; height: 0px; width: 0px" })
                @Html.TextBoxFor(r => r.SpielerListe[0].AngesagteStiche, new { id = "ownTricksGuess", style = "visibility: hidden; height: 0px; width: 0px" })
                @Html.TextBoxFor(s => s.SpielerListe[1].GemachteStiche, new { id = "botTricks", style = "visibility: hidden; height: 0px; width: 0px" })
                @Html.TextBoxFor(r => r.SpielerListe[1].AngesagteStiche, new { id = "botTricksGuess", style = "visibility: hidden; height: 0px; width: 0px" })
            </div>
            <div class="opponentCardWrapper">
                @foreach (var karte in Model.SpielerListe[1].KartenListe)
                {
                    <div class="card" data-color="@karte.KartenFarbe" data-value="@karte.KartenWert" draggable="true" ondragstart="onDragStart(event);">
                        <img class="middle" src="../Content/Karten/@karte.BildPfad" />
                        <img class="initial" src="../Content/Karten/behind.png" />
                    </div>
                }
            </div>
        </div>
        <div id="playingBoard" class="playingBoard" ondragover="onDragOver(event);" ondrop="onDrop(event);"></div>
        <div class="ownCardDeck turn">
            <div class="turnOver">Zug beenden</div>
            <div class="ownCardWrapper">
                @foreach (var karte in Model.SpielerListe[0].KartenListe)
                {
                    <div class="card" data-color="@karte.KartenFarbe" data-value="@karte.KartenWert" draggable="true" ondragstart="onDragStart(event);">
                        <img src="../Content/Karten/@karte.BildPfad" />
                    </div>
                }
            </div>
        </div>

        <div class="trumpDisplay">
            <p>Trumpf:</p>
            <div class="@Model.Trumpf"></div>
        </div>
        <div class="pointBoard">
            <div class="firstRow row">
                <div class="round">&nbsp;</div>
                <div class="playerOnePoints"><p class="playerOneName">@Model.SpielerListe[0].SpielerName</p></div>
                <div class="playerTwoPoints"><p class="playerTwoName">@Model.SpielerListe[1].SpielerName</p></div>
            </div>
                <div class="row" data-round="@Model.Runde">
                    <div class="round"><p>@Model.Runde</p></div>
                    <div class="playerOnePoints"><p>@Model.SpielerListe[0].PunkteProRunde</p></div>
                    <div class="playerOneTricks"><p>@Model.SpielerListe[0].AngesagteStiche</p></div>
                    <div class="playerTwoPoints"><p>@Model.SpielerListe[1].PunkteProRunde</p></div>
                    <div class="playerTwoTricks"><p>@Model.SpielerListe[1].AngesagteStiche</p></div>
                </div>
        </div>
    </div>

}
