@model Wizard_Aydin_Olga.Models.WizardModel
@using (Html.BeginForm("GameView", "Wizard", FormMethod.Post))
{

    <div class="lightboxTricksOuter">
        <div class="lightboxTricksInner">
            <p>Wie viele Stiche <br /> machst du?</p>
            <div class="trickamountContainer">
                @*thisss in Javascript plllsssss Senpaaaaiiiiii uwu ara ara*@
                @for (int i = 0; i <= Model.Runde; i++)
                {
                    <div class="trick">
                        <input id="0" type="radio" name="tricks" value="0" />
                        <label for="0">0</label>
                    </div>
                }
            </div>
            <button class="confirmationTricks">Bestätigen</button>
        </div>
    </div>
    <div class="lightboxEvaluation">
        <div class="evaluationText">
            <p>Spieler XY hat den Stich gemacht!</p>
        </div>
    </div>
    <div class="playingGround">
        <div class="opponentsCardDeck noTurn">
            <div class="startEvaluation">
                <input id="startEvaluation" type="submit" value="Auswertung starten" />
            </div>
            <div class="opponentCardWrapper">
                @foreach (var karte in Model.SpielerListe[0].KartenListe)
                {
                    <div class="card" data-color="@Model.SpielerListe[0].KartenListe[0].KartenFarbe" data-value="@Model.SpielerListe[0].KartenListe[0].KartenWert" data-beatable="9" draggable="true" ondragstart="onDragStart(event);">
                        <img src="../Content/Karten/@Model.SpielerListe[0].KartenListe[0].BildPfad" />
                    </div>
                }
            </div>
        </div>
        <div id="playingBoard" class="playingBoard" ondragover="onDragOver(event);" ondrop="onDrop(event);"></div>
        <div class="ownCardDeck turn">
            <div class="turnOver">Zug beenden</div>
            <div class="ownCardWrapper">
                @foreach (var karte in Model.SpielerListe[1].KartenListe)
                {
                    <div class="card" data-color="@Model.SpielerListe[1].KartenListe[0].KartenFarbe" data-value="@Model.SpielerListe[1].KartenListe[0].KartenWert" data-beatable="11" draggable="true" ondragstart="onDragStart(event);">
                        <img src="../Content/Karten/@Model.SpielerListe[1].KartenListe[0].BildPfad" />
                    </div>
                }
            </div>
        </div>

        <div class="trumpDisplay">
            <p>Trumpf:</p>
            <div class="@Model.Trumpf"></div>
        </div>
        <div class="pointBoard">
            <div class="firstRow row">
                <div class="round">&nbsp;</div>
                <div class="playerOnePoints"><p>@Model.SpielerListe[0].SpielerName</p></div>
                <div class="playerTwoPoints"><p>@Model.SpielerListe[1].SpielerName</p></div>
            </div>
            @for (int i = 0; i < Model.Runde; i++)
            {
                <div class="row">
                    <div class="round"><p>1</p></div>
                    <div class="playerOnePoints"><p>&nbsp;</p></div>
                    <div class="playerOneTricks"><p>1</p></div>
                    <div class="playerTwoPoints"><p>&nbsp;</p></div>
                    <div class="playerTwoTricks"><p>0</p></div>
                </div>
            }
        </div>
    </div>
}
